/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: normal;
}
b,
strong {
  font-weight: bold;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: parimatchBold;
  src: url(../fonts/Parimatch_fonts/Parimatch-Bold.otf);
}
@font-face {
  font-family: circeRegular;
  src: url(../fonts/Circe-Regular.woff);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal.show {
  display: block;
}
.modal.hide {
  display: none;
}
.modal__dialog {
  width: 682px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1024px) {
  .modal__dialog {
    width: 290px;
  }
}
.modal__content {
  background: #000000;
  box-shadow: 0px 0px 15px #F8FF13;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: parimatchBold;
  text-transform: uppercase;
  padding: 40px 20px 66px;
}
@media screen and (max-width: 1024px) {
  .modal__content {
    padding: 15px 10px 20px;
  }
}
.modal__content:before {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 347px;
  background-image: url(../images/modal_smoke.png);
  pointer-events: none;
}
.modal__content__close {
  position: absolute;
  right: 22px;
  top: 22px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .modal__content__close {
    right: 5px;
    top: 5px;
  }
}
.modal__content__head {
  font-size: 44px;
  line-height: 72px;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .modal__content__head {
    font-size: 20px;
    line-height: 26px;
    width: 100%;
    text-align: center;
  }
}
.modal__content__prize {
  font-size: 120px;
  line-height: 1;
  color: #F8FF13;
}
@media screen and (max-width: 1024px) {
  .modal__content__prize {
    font-size: 40px;
    margin-top: 15px;
  }
}
.modal__content__tries {
  font-family: circeRegular;
  font-size: 24px;
  line-height: 120px;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .modal__content__tries {
    font-size: 11px;
    line-height: 55px;
  }
}
.modal__content__button {
  font-size: 30px;
  line-height: 1;
  text-align: center;
  color: #000;
  text-decoration: none;
  width: 351px;
  height: 68px;
  line-height: 68px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .modal__content__button {
    font-size: 20px;
    width: 200px;
    height: 42px;
    line-height: 40px;
  }
}
.modal__content__button:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #F8FF13;
  transform: skew(-15deg);
  box-shadow: 0px 4px 34px #000000;
  pointer-events: none;
}
.wrap {
  background-image: url(../images/bg-main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 450px) and (orientation: portrait) {
  .wrap {
    background-image: url(../images/bg-main-mobile.png);
    background-size: contain;
    background-position: top;
  }
}
.wrap:before {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 100%;
  background-image: url(../images/bg-lights.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: 1;
  pointer-events: none;
}
@media screen and (max-width: 450px) and (orientation: portrait) {
  .wrap:before {
    background-image: url(../images/bg-lights-mobile.png);
    background-size: contain;
  }
}
.wrap .header {
  position: absolute;
  top: 27px;
  left: 61px;
  right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
@media screen and (max-width: 1280px) {
  .wrap .header {
    top: 15px;
    left: 15px;
    right: 25px;
  }
}
@media screen and (max-width: 767px) {
  .wrap .header {
    top: 0;
    left: 0;
    right: 0;
    padding-left: 14px;
    padding-top: 13px;
    padding-right: 20px;
  }
}
.wrap .header:before {
  width: 100%;
  height: 150px;
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(180deg, #000000 13.02%, rgba(0, 0, 0, 0) 100%);
  display: none;
  z-index: -1;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .wrap .header:before {
    display: block;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .wrap .header:before {
    height: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .wrap .header img {
    width: 79px;
    height: 25px;
  }
}
.wrap .header__title {
  font-family: parimatchBold;
  font-size: 42px;
  line-height: 1;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 1500px) {
  .wrap .header__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 1280px) {
  .wrap .header__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .wrap .header__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .wrap .header__title {
    position: absolute;
    top: 52px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    line-height: 24px;
    width: 100%;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .wrap .header__title {
    top: 3vh;
  }
}
.wrap .header__title span {
  display: inline-block;
  color: #F8FF13;
}
.wrap .header__button {
  font-family: parimatchBold;
  font-size: 17px;
  line-height: 1;
  text-align: center;
  color: #F8FF13;
  text-decoration: none;
  width: 144px;
  height: 38px;
  line-height: 38px;
  position: relative;
  transition: 0.3s;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .wrap .header__button {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    width: 122px;
  }
}
.wrap .header__button:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #F8FF13;
  transform: skew(-15deg);
  box-shadow: 0px 4px 34px #000000;
  pointer-events: none;
  transition: 0.3s;
  z-index: -1;
}
.wrap .header__button:hover {
  color: #000;
}
.wrap .header__button:hover:before {
  background: #F8FF13;
}
.wrap .content {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 5.7%;
  align-items: center;
  z-index: 1;
  max-width: 23%;
}
@media screen and (max-width: 1500px) {
  .wrap .content {
    left: 3.5%;
  }
}
@media screen and (max-width: 1280px) {
  .wrap .content {
    left: 1.5%;
    max-width: 22%;
  }
}
@media screen and (max-width: 1024px) {
  .wrap .content {
    transform: none;
    top: 12vh;
    max-width: none;
  }
}
@media screen and (max-width: 767px) {
  .wrap .content {
    left: 14px;
    top: 80px;
    max-width: 200px;
  }
}
.wrap .content__text__head {
  font-family: parimatchBold;
  font-size: 72px;
  line-height: 1;
  color: #F8FF13;
}
@media screen and (max-width: 1500px) {
  .wrap .content__text__head {
    font-size: 50px;
  }
}
@media screen and (max-width: 1280px) {
  .wrap .content__text__head {
    font-size: 36px;
  }
}
@media screen and (max-width: 1024px) {
  .wrap .content__text__head {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .wrap .content__text__head {
    font-size: 26px;
  }
}
.wrap .content__text__terms {
  font-family: circeRegular;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
  text-decoration: underline;
  margin-top: 23px;
  margin-bottom: 10px;
  display: block;
}
@media screen and (max-width: 1024px) {
  .wrap .content__text__terms {
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 18px;
  }
}
@media screen and (max-width: 767px) {
  .wrap .content__text__terms {
    display: none;
  }
}
.wrap .content__text__terms__mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .wrap .content__text__terms__mobile {
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 205px;
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .wrap .content__text__terms__mobile {
    left: 2%;
    transform: none;
    bottom: 40vh;
  }
}
.wrap .content__text__tries {
  font-family: parimatchBold;
  font-size: 44px;
  line-height: 72px;
  color: #FFFFFF;
}
@media screen and (max-width: 1500px) {
  .wrap .content__text__tries {
    font-size: 36px;
    line-height: 50px;
  }
}
@media screen and (max-width: 1280px) {
  .wrap .content__text__tries {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .wrap .content__text__tries {
    font-size: 22px;
    line-height: 22px;
  }
}
@media screen and (max-width: 767px) {
  .wrap .content__text__tries {
    font-size: 14px;
    line-height: 30px;
  }
}
.wrap .content__text__tries span {
  display: inline-block;
  color: #F8FF13;
}
.wrap .wheel {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  height: 80vh;
}
@media screen and (max-width: 1024px) {
  .wrap .wheel {
    left: 2%;
    height: 65vh;
    transform: none;
  }
}
@media screen and (max-width: 767px) {
  .wrap .wheel {
    left: 0;
    bottom: 197px;
    height: 40vh;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .wrap .wheel {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .wrap .wheel {
    bottom: 24%;
    height: 55vh;
  }
}
.wrap .wheel__button {
  position: absolute;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  line-height: 1;
  font-family: parimatchBold;
  color: #000;
  width: 27%;
  height: 24%;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 5;
}
@media screen and (max-width: 1500px) {
  .wrap .wheel__button {
    font-size: 36px;
  }
}
@media screen and (max-width: 1024px) {
  .wrap .wheel__button {
    font-size: 22px;
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .wrap .wheel__button {
    font-size: 36px;
  }
}
@media screen and (max-width: 767px) {
  .wrap .wheel__button {
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .wrap .wheel__button {
    font-size: 18px;
  }
}
.wrap .wheel__button p {
  top: 47%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap .wheel img {
  height: 100%;
}
.wrap .wheel__inside {
  position: absolute;
  left: 8.5%;
  top: 8%;
  z-index: -1;
  height: 58vh;
}
@media screen and (max-width: 1024px) {
  .wrap .wheel__inside {
    height: 47vh;
  }
}
@media screen and (max-width: 767px) {
  .wrap .wheel__inside {
    height: 29vh;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .wrap .wheel__inside {
    height: 40vh;
  }
}
.wrap .wheel__inside.spin img {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform: rotate(-653deg);
}
.wrap .wheel__inside.spin__second img {
  animation-name: spinSec;
  animation-duration: 3000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform: rotate(-1057deg);
}
.wrap .cowboy {
  position: absolute;
  right: 0;
  height: auto;
  bottom: -3px;
  height: 85vh;
}
@media screen and (max-width: 1500px) {
  .wrap .cowboy {
    right: -90px;
  }
}
@media screen and (max-width: 1024px) {
  .wrap .cowboy {
    right: -70px;
    height: 75vh;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .wrap .cowboy {
    right: 0;
  }
}
@media screen and (max-width: 767px) {
  .wrap .cowboy {
    right: -50px;
    height: 51vh;
    bottom: 197px;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .wrap .cowboy {
    bottom: 24%;
    right: 0;
    height: 55vh;
  }
}
.wrap .cowboy img {
  height: 100%;
}
.wrap .smoke {
  display: none;
  pointer-events: none;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .wrap .smoke {
    display: block;
    width: 100%;
    bottom: 196px;
    z-index: 1;
    position: absolute;
  }
  .wrap .smoke img {
    width: 100%;
  }
}
.wrap .footer {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  padding-left: 2%;
  padding-right: 3%;
  padding-bottom: 15px;
}
@media screen and (max-width: 1280px) {
  .wrap .footer {
    padding-left: 1%;
    padding-right: 1%;
  }
}
@media screen and (max-width: 767px) {
  .wrap .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000000;
    padding: 15px 10px;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .wrap .footer {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}
.wrap .footer__payments,
.wrap .footer__apps,
.wrap .footer__trust,
.wrap .footer__socials {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .wrap .footer__payments {
    margin-bottom: 25px;
    order: 1;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .wrap .footer__payments {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .wrap .footer__payments a img {
    width: 50px;
    height: 15px;
  }
}
@media screen and (max-width: 767px) {
  .wrap .footer__payments a img {
    width: auto;
    height: 17px;
  }
}
.wrap .footer__payments a:not(:last-child) {
  margin-right: 15px;
}
@media screen and (max-width: 1280px) {
  .wrap .footer__payments a:not(:last-child) {
    margin-right: 5px;
  }
}
@media screen and (max-width: 767px) {
  .wrap .footer__payments a:not(:last-child) {
    margin-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .wrap .footer__apps {
    order: 4;
  }
}
@media screen and (max-width: 1024px) {
  .wrap .footer__apps a img {
    width: 60px;
    height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .wrap .footer__apps a img {
    width: auto;
    height: auto;
  }
}
.wrap .footer__apps a:not(:last-child) {
  margin-right: 10px;
}
@media screen and (max-width: 1280px) {
  .wrap .footer__apps a:not(:last-child) {
    margin-right: 5px;
  }
}
@media screen and (max-width: 767px) {
  .wrap .footer__apps a:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .wrap .footer__trust {
    margin-bottom: 25px;
    order: 2;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .wrap .footer__trust {
    margin-bottom: 10px;
  }
}
.wrap .footer__trust a img {
  vertical-align: middle;
}
@media screen and (max-width: 1024px) {
  .wrap .footer__trust a img {
    width: 136px;
    height: 22px;
  }
}
@media screen and (max-width: 767px) {
  .wrap .footer__trust a img {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .wrap .footer__socials {
    margin-bottom: 19px;
    order: 3;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .wrap .footer__socials {
    margin-bottom: 10px;
  }
}
.wrap .footer__socials a img {
  vertical-align: middle;
}
@media screen and (max-width: 1024px) {
  .wrap .footer__socials a img {
    width: 18px;
    height: 18px;
  }
}
.wrap .footer__socials a:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 1280px) {
  .wrap .footer__socials a:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .wrap .footer__socials a:not(:last-child) {
    margin-right: 17px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-653deg);
  }
}
@keyframes spinSec {
  from {
    transform: rotate(-653deg);
  }
  to {
    transform: rotate(-1057deg);
  }
}
